<div class="snippet" markdown="0">
  <select>
    <option value="" disabled selected>What's your favorite food?</option>
    <option value="chocolate">Chocolate</option>
    <option value="ice-cream">Ice Cream</option>
    <option value="fries">French Fries</option>
  </select>

  <button type="button" onclick="choosePizza(event)">Choose Pizza</button>

  <script>
    function choosePizza(e) {
      let selectEl = e.target.previousElementSibling;
      selectEl.value = 'pizza';
    }
  </script>
</div>
