name: Deploy to GitHub Pages
on: push
jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
      - name: Build
        run: bundle exec jekyll build
      - name: Deploy
        run: |
          cd _site
          git switch --orphan gh-pages
          git config user.name Octocat
          git config user.email "octocat@users.noreply.github.com"
          git --work-tree . add -A
          git commit -qm "Deploy from ${GITHUB_SHA}"
          git push -f origin HEAD
